.page-content {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.tablehiero {
  border: 0px;
}

.tablehiero tr {
  text-align: center;
  overflow: hidden;
  height: 20px;
  white-space: nowrap;
}
